<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduled date:</strong>
  <%= @device_plan.scheduled_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @device_plan.status %>
</p>

<p>
  <strong>Device:</strong>
  <%= @device_plan.device %>
</p>

<p>
  <strong>Check plan:</strong>
  <%= @device_plan.check_plan %>
</p>

<%= link_to 'Done', device_plan_path(@device_plan, device_plan: { status: "DONE" } ), method: :put %>
<%= link_to 'Check', new_check_record_path(device_plan: @device_plan) %>
<%= link_to 'Edit', edit_device_plan_path(@device_plan) %> |
<%= link_to 'Back', device_plans_path %>
